*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, sans-serif;
  scroll-behavior: smooth;
  --primary-bg: #fff;
  --secondary-bg: #f3f4f6;
  --primary-color: #65bd7d;
  --secondary-color: #4a9c61;
}

body {
  min-height: 100vh;
}

/** Bg circles code */
.circles-container {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.circle {
  position: absolute;
  border-radius: 50%;
}
.circle-1 {
  width: 420px;
  height: 420px;
  top: -100px;
  right: -100px;
  background-color: #c8ebd2;
  opacity: 0.35;
}
.circle-2 {
  width: 300px;
  height: 300px;
  bottom: -50px;
  left: -80px;
  background-color: #c8ebd2;
  opacity: 0.3;
}
.circle-3 {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #c8ebd2;
  opacity: 0.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/** navbar code */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar a,
.navbar ul li {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  margin: 2rem;
}
.navbar ul li:hover a {
  border-bottom: 2px solid #fff;
}
.navbar .logo {
  font-size: 2.6rem;
  font-family: 900;
}

/** hero section code */
.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  min-height: 75vh;
  padding: 2rem;
}

.hero__left {
  padding: 2rem;
  font-size: 2.2rem;
}

.hero__left > * {
  margin: 3rem 0;
}

.hero__left h2 {
  font-size: 2rem;
  font-weight: 400;
}

.hero__left h1 {
  color: var(--primary-color);
}

.hero__left p {
  font-size: 1.8rem;
}

.hero__left a {
  font-size: 1.8rem;
  color: white;
  background-color: var(--primary-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 4px;
  transition: all 0.1s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.hero__left a:hover {
  background-color: var(--secondary-color);
  text-decoration: underline;
  box-shadow: 0 0 0 transparent;
}

.hero__right img {
  width: 100%;
  object-fit: cover;
}

/** About BIT code */
.about-bit {
  background-color: var(--secondary-bg);
  padding: 2rem;
}
.about-bit .container {
  text-align: center;
}
.about-bit .container h1 {
  font-size: 2.4rem;
  margin-top: 2rem;
}
.about-bit .container p {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.about-cards > * {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
}
.about-card {
  background-color: var(--primary-bg);
  padding: 3rem;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.about-card img {
  width: 35px;
  height: 35px;
}
#about-p {
  margin-top: 3rem;
}

/** links code */
.links {
  padding: 2rem;
}
.links-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.links-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 10px;
}
.links-card .links-img {
  width: 75px;
  height: 75px;
  background: var(--primary-color);
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #fff;
}
.links-card h1 {
  font-size: 2.4rem;
  font-weight: 500;
}
.links-card a {
  background-color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.6;
}
.links-card a:hover {
  background-color: var(--secondary-color);
}

/** Contact code */
.contact {
  padding: 4rem;
}

.contact .container {
  background-color: var(--secondary-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}
.contact__left,
.contact__right {
  padding: 3rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__left > * {
  margin: 2rem 0;
}
.contact__left h1 {
  font-size: 2.8rem;
  align-self: flex-start;
}
.contact-field h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.input-control {
  margin: 2rem;
}
.input-control input,
.input-control textarea {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  padding: 10px 20px;
  outline: none;
  margin-top: 1rem;
}
.contact-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
}
.contact-submit:hover {
  background-color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

/** footer code */
.footer {
  background-color: var(--secondary-color);
  text-align: center;
  color: #fff;
  padding: 25px;
  font-size: 1.8rem;
}

/** Phone screens */
@media (max-width: 500px) {
  html {
    font-size: 58%;
  }
  .navbar .container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 0.5rem;
    text-align: center;
  }
  .navbar a,
  .navbar ul li {
    margin: 1rem;
  }
  .hero .container {
    grid-template-columns: 1fr;
  }
  .hero__left {
    text-align: center;
  }
  .hero__right {
    display: none;
  }
  .links {
    padding: 2;
  }
  .links-cards {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .contact .container {
    grid-template-columns: 1fr;
  }
}
